.stack-work/
comparafun.cabal
*~dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
Main

# Only useful for me:
ssh.sh
upload.sh
*.testdata
*.haskell
*.eventlog
*.html
target
